* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #3b82f6, #9333ea);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-card {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 300px;
}

.contact-card h2{
    font-size: 24px;
    margin-bottom: 10px;
}




.contact-card p {
    font-size: 16px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.8);
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.whatsapp {
    background: rgba(76, 175, 80, 0.8);
}

.email {
    background: rgba(33, 150, 243, 0.8);
}

.buttons a:hover {
    opacity: 0.7;
}
