body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #3b82f6, #9333ea);
    background: #02010f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    opacity: 0;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
    opacity: 0;
}

.button-container {
    margin-top: 20px;
    opacity: 0;
}

.btn {
    padding: 12px 24px;
    font-size: 1rem;
    color: #3b82f6;
    background: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 9;
}

.btn:hover {
    background: #e2e8f0;
}

.btn-secondary {
    padding: 12px 24px;
    color: #e2e8f0;
    border: #e2e8f0#e2e8f0 1px solid;
    font-size: 1rem;
    border-color: #e2e8f0;
    
    border-radius: 8px;
    cursor: pointer;
    background: #02010f;
    transition: background ease 0.3s;
    z-index: 9;
}

.btn-secondary:hover {
    background: #e2e8f0;
    color: #02010f;
    border:#02010f 1px solid;
}


.header{
    width: 100dvw;
    height: 100dvh;
    background: url('../src/images/bg-01.avif') no-repeat center;
    display: grid;
    justify-content: center;
    place-content: center;
}